extends layout

block content
  script.
    ShopifyApp.ready(function(){
        ShopifyApp.Bar.loadingOff();
        ShopifyApp.Bar.initialize({
          title: '#{title}',
        });
    });
    
  h1=title
  div=body